<html>
  <head>
    <title>Sing-up</title>

  </head>
  <body>
    <form class="form">
      <h2>Sing-up</h2>
      <label for="email">username</label>
      <input type="text" name="username" id="username" required></input>
      <p> email
      <input type="text" name="email" id="email"></input></p>

      <label for="password">password</label>
      <input type="text" name="password" id="password" required></input>

      <p> phone <input type="text" name="phone" id="phone"></input></p>
      <button>Sing up</button>
      <div>
        <hr>
        <span class="fa fa-phone"></span>55-555-555
        <br>
        <span class="fa fa-envelope-o"></span>diegoma.v2004@gmail.com
      </div>
    </form>
  </body>

</html>
