<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>login</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>x


  <div class="contenedorDeTodo">
    <div class="contenedorTrasero">
      <div class="contenedorLogin">
        <h3>Crea una cuenta si no tienes</h3>
        <p>Si tienes cuenta puedes iniciar seision</p>
        <button id="log">Iniciar Sesion</button>
      </div>

      <div class="contenedorRegistro">
        <h3>Aun no tienes una cuenta?</h3>
        <p>Registrar para que puedas iniciar sesion</p>
        <button id="Registro">Registrarse</button>
      </div>
    </div>

    <div class="contenedorLoginRegister">
      <div>
        <form action="" class="formularioLogin">
          <input type="text" placeholder="Correo Electronico">
          <input type="password" placeholder="pasword">
          <button>Entrar</button>
        </form>

        <form action="" class="formularioRegister">
          <h2>Registro</h2>
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="pasword">
          <button>Registrate</button>
        </form>
      </div>
    </div>
  </div>

  <script src="script.js"></script>

</body>

</html>
